:root .theme_light {
  --background-image: url("../images/cover-image-light.png");
  --primary-color: #fff1f7;
  --secondary-color: #ff8dcb;
  --content-text-color: #353430;
  --header-color: #ffc2e6;
  --text-color: #353430;
  --main-title-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.40);
  --border-color: #353430;
  --hyperlink-shadow-color: #ff8DCB;
  --accent-color-title: #ff0070;
}

.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
	--background-image: url("../images/cover-image-light.png");
    --primary-color: #fff1f7;
    --secondary-color: #ff8dcb;
    --content-text-color: #353430;
    --header-color: #ffc2e6;
    --text-color: #353430;
    --main-title-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.40);
    --border-color: #353430;
    --hyperlink-shadow-color: #ff8DCB;
    --accent-color-title: #ff0070;
  }

  .header__rec {
    display: none;
  }
}