.page {
  font-family: var(--main-font, "IBM Plex Mono", monospace);
  background-color: var(--primary-color, #000028);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  block-size: 100%;
  font-size: 18px;
  line-height: 130%;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: 20px;
  padding-block: 20px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color, #ff0070);
  line-height: 25px;
  text-transform: uppercase;
  min-inline-size: 60px;
}

.header__rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--secondary-color, #ff0070);
  background-color: var(--secondary-color, #ff0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color, #ff0070);
  border-right: 1px solid var(--border-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--border-color, #ff0070);
  border-left: 1px solid var(--border-color, #ff0070);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--border-color, #ff0070);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--border-color, #ff0070);
  line-height: 18px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding-block-end: 5px;
  color: var(--border-color, #ff0070);
  text-transform: lowercase;
  background-color: transparent;
  min-block-size: 26px;
  min-inline-size: 70px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-color, #ff0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color, rgba(255, 0, 112, 0.4));
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color, #ff0070);
  pointer-events: none;
}

.header__title {
  margin-inline-start: -20px;
  color: var(--header-color, #db00ff);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color-title, #ff0070);
}

.header__text-content {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__text {
  font-weight: 700;
  max-inline-size: 491px;
  white-space: pre-line;
}

.text-decor {
  color: var(--content-text-color, #000028);
  background-color: var(--secondary-color, #ff0070);
}

.why {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
  padding-inline: 20px;
  padding-block: 60px 20px;
}

.what {
  padding-inline: 20px;
  padding-block: 60px 20px;
}

.section__title {
  color: var(--main-title-color, #ff0070);
  font-weight: 700;
  max-inline-size: 315px;
}

.section__title-padding {
  padding-block-end: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__title {
  color: var(--content-text-color, #000028);
  font-family: var(--main-font, monospace);
  font-weight: 700;
}

.article__title-decor {
  font-weight: normal;
}

.article__text {
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, monospace);
}

.what__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.active-hyperlink {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--secondary-color, #ff0070);
}

.active-hyperlink:focus {
  outline: none;
}

.active-hyperlink:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.active-hyperlink:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
  cursor: pointer;
}

.gallery {
  display: grid;
  gap: 20px;
  padding-inline: 20px;
  padding-block: 60px;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

picture:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

picture:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

picture:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

picture:nth-of-type(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

picture:last-of-type {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  padding-block: 20px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--header-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.453vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color-title, #ff0070);
}

@media (width <= 1023px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--secondary-color, #ff8dcb);
  }

  .header__theme-menu {
    justify-content: flex-end;
    align-items: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__text {
    max-inline-size: 364px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    max-inline-size: 236px;
  }

  .what__wrapper {
    grid-template-columns: 1fr;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--secondary-color, #ff8dcb);
  }
}

@media (width <= 767px) {
  .header {
    padding-inline: 10px;
    padding-block: 10px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__rec {
    top: 10px;
    right: 10px;
  }

  .header__title {
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .why {
    grid-template-columns: 1fr;
    padding-inline: 10px;
    padding-block: 40px 10px;
  }

  .what {
    padding-inline: 10px;
    padding-block: 40px 10px;
  }

  .section__title {
    max-inline-size: 355px;
  }

  .gallery {
    gap: 10px;
    padding-inline: 10px;
    padding-block: 40px;
  }

  .gallery__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    padding-inline: 10px;
    padding-block: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
